$head-height: 50px;
.home {
  &-head {
    position: fixed;
    top: 0;
    height: $head-height;
    padding: 0 36px;
    z-index: 100;
    &-icon {
      line-height: $head-height;
      float: left;
      img {}
    }
    &-menu {
      float: right;
      .iconfont {
        margin-right: 6px;
        font-size: 20px;
      }
      &.ant-menu-horizontal {
        border-bottom: none;
      }
    }
  }
  &-main {
    padding-top: $head-height;
  }
}

.overhidden {
  overflow: hidden;
}